.nvToasts {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
}

.nvToasts .nvToast {
  display: flex;
  align-items: center;
  height: 50px;
  width: 350px;
  padding: 0 15px;
  font-size: 1em;
  border-radius: 6px;
  margin-bottom: 5px;
}

.nvToasts .nvToastText {
  flex: 1 0 0;
  padding-right: 15px;
  font-size: 0.95em;
  letter-spacing: 0.03em;
}

.nvToasts .nvToastAction {
  flex: 0;
  font-size: 0.85em;
  color: #fbb131;
  cursor: pointer;
}

.nvToasts .nvToastEllipsis,
.nvToasts .nvToastText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nvToasts .nvToast:first-child {
  margin-bottom: 0;
}

.nvToasts.left {
  left: 15px;
}
.nvToasts.center {
  left: 50%;
  transform: translateX(-50%);
}
.nvToasts.right {
  right: 15px;
}

.nvToasts.top {
  top: 15px;
}
.nvToasts.middle {
  top: 50%;
  transform: translateY(-50%);
}
.nvToasts.bottom {
  bottom: 15px;
}

.nvToasts.center.middle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nvToasts.black .nvToast {
  background: #242424;
}
.nvToasts.black .nvToastText {
  color: #fdfdfd;
}

.nvToasts.white .nvToast {
  background: #fdfdfd;
}
.nvToasts.white .nvToastText {
  color: #242424;
}

@media screen and (max-width: 600px) {
  .nvToasts {
    bottom: 0;
    left: 0;
    right: 0;
  }

  .nvToasts .nvToast {
    width: inherit;
    margin: 0;
    border-radius: 0;
  }
}
